body {
  text-align: center;
  background: rgb(121,199,142);
  background: linear-gradient(16deg, rgba(121,199,142,1) 9%, rgba(6,144,143,1) 83%);  
  height: 100vh;
  color: #101219;
}

/* 7CEB9A */
/* E3E5E3 */

.container {
  /* background-color: #fcfffe; */
  /* background-color: #f7f7f7; */
  background-color: #fff;
  width: 25%;
  max-width: 800px;
  margin: 50px auto 0px;
  padding: 40px 20px;
  height: 500px;
  border-radius: 4px;
  position: relative;
  /* border-collapse: collapse; */
}

.main-wrapper h1 {
  font-size: 1.75em;
  margin: 30px 0 40px;
}

.new-todo {
  margin: 30px auto 0px;
}

.todo {
  /* background-color: #fff; */
  /* background-color: #f2fafa; */
  /* box-shadow: rgb(0 0 0 / 10%) 1.95px 1.95px 2.6px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  width: 80%;
  margin: 4px auto 0px;
  text-align: left;
  padding: 4px 4px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.todo:hover {
  /* box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px; */
  color: #6b6b6b;
  /* background-color: #edfafa; */
  /* box-shadow: rgb(0 0 0 / 8%) 1.95px 1.95px 2.6px; */
}

.todo p {
  margin: 0;
}

.todo-buttons {
  display: flex;
  align-items: center;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  /* margin: 2px 0 3px; */
}

.complete {
  /* text-decoration: line-through; */
}

.not-complete {
  text-decoration: none;
}

.checkmark {
  height: 38px;
  width: 39px;
}

.add-task-icon {
  width: 112px;
  /* height: 100px; */
  cursor: pointer;
  transition: transform .25s ease-in-out;
  position: absolute;
  bottom: -54px;
  left: 0;
  right: 0;
  margin: auto;
}

.add-task-icon:hover {
  transform: rotate(90deg);
}