body {
  text-align: center;
}

.container {
  background-color: lightgray;
  width: 80%;
  max-width: 800px;
  margin: 80px auto 0px;
  padding: 20px;
  height: auto;
  min-height: 500px;
  border-radius: 3px;
}

.new-todo {
  margin: 40px auto 0px;
}

.todo {
  background-color: white;
  width: 70%;
  margin: 40px auto 10px;
  text-align: left;
  padding: 12px 40px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.todo p {
  margin: 0;
}

.complete {
  text-decoration: line-through;
}

.not-complete {
  text-decoration: none;
}